#search {
    position: fixed;
    top: 30%;
    left: 58%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 55%;
    min-width: 55%;
}

#searchBtn {
    max-width: 45%;
}

#searchReturns {
    position: fixed;
    top: 55%;
    left: 58%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 55%;
    min-width: 55%;
}

#returnedItems {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: larger;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}